In [24]:
# ElementTree 모듈을 로드
from xml.etree import ElementTree

In [25]:
# parse() 함수로 파일을 읽고 ElementTree 객체를 생성
tree = ElementTree.parse('rss.xml')

In [26]:
# getroot() 메서드로 XML의 루트 element를 추출
root = tree.getroot()

In [27]:
print(root)

<Element 'rss' at 0x0000017CBFECEF90>

In [28]:
import pandas as pd

In [29]:
pd.DataFrame({
    '날짜':['2020-06-25', '2020-06-26'],
    '시간':['00:00', '10:01'],
    '최저온도':[19, 24],
    '최고온도':[20, 28],
    '날씨':['맑음', '흐리고 비'],
})

           날짜     시간  최저온도  최고온도     날씨
0  2020-06-25  00:00    19    20     맑음
1  2020-06-26  10:01    24    28  흐리고 비

In [34]:
pd.read_clipboard()

ParserError: Expected 6 fields in line 3, saw 7. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

In [37]:
데이터프레임_리스트 = []
for item in root.findall('channel/item/description/body/location/data'):
    # find() 메서드로 element 탐색, text 속성으로 값을 추출
    tm_ef = item.find('tmEf').text
    tmn = item.find('tmn').text
    tmx = item.find('tmx').text
    wf = item.find('wf').text
    데이터프레임 = pd.DataFrame({ #json형식이래요
        '일시':[tm_ef],
        '최저기온':[tmn],
        '최고기온':[tmx],
        '날씨':[wf],
    })
    데이터프레임_리스트.append(데이터프레임)
날씨정보 = pd.concat(데이터프레임_리스트)
날씨정보

                  일시 최저기온 최고기온     날씨
0   2020-06-25 00:00   21   26  흐리고 비
0   2020-06-25 12:00   21   26  흐리고 비
0   2020-06-26 00:00   21   29  흐리고 비
0   2020-06-26 12:00   21   29   구름많음
0   2020-06-27 00:00   22   29   구름많음
..               ...  ...  ...    ...
0   2020-06-29 00:00   23   26  흐리고 비
0   2020-06-29 12:00   23   26  흐리고 비
0   2020-06-30 00:00   22   26  흐리고 비
0   2020-07-01 00:00   22   26  흐리고 비
0   2020-07-02 00:00   22   27     흐림

[533 rows x 4 columns]

In [36]:
type(날씨정보)

pandas.core.frame.DataFrame

In [38]:
날씨정보.to_csv('날씨정보.csv')

In [39]:
엑셀 = pd.ExcelWriter('날씨정보.xlsx')
날씨정보.to_excel(엑셀, '.', index=False )
엑셀.save()

In [40]:
날씨정보.reset_index(drop=True, inplace=True)

In [41]:
날씨정보.to_json('날씨정보.json')

In [42]:
import sqlite3
from pandas.io import sql
import os

In [43]:
with sqlite3.connect(os.path.join('.','sqliteDB')) as con: # sqlite DB 파일이 존재하지 않는 경우 파일생성
    try:
        날씨정보.to_sql(name = 'WEATHER_INFO', con = con, index = False, if_exists='append') 
        #if_exists : {'fail', 'replace', 'append'} default : fail
    except Exception as e:
        print(str(e))
    
    query = 'SELECT * FROM WEATHER_INFO'
    데이터프레임1 = pd.read_sql(query, con = con)

In [44]:
데이터프레임1

                   일시 최저기온 최고기온     날씨
0    2020-06-25 00:00   21   26  흐리고 비
1    2020-06-25 12:00   21   26  흐리고 비
2    2020-06-26 00:00   21   29  흐리고 비
3    2020-06-26 12:00   21   29   구름많음
4    2020-06-27 00:00   22   29   구름많음
..                ...  ...  ...    ...
528  2020-06-29 00:00   23   26  흐리고 비
529  2020-06-29 12:00   23   26  흐리고 비
530  2020-06-30 00:00   22   26  흐리고 비
531  2020-07-01 00:00   22   26  흐리고 비
532  2020-07-02 00:00   22   27     흐림

[533 rows x 4 columns]

In [45]:
엑셀 = pd.ExcelWriter('날씨정보2.xlsx')
데이터프레임1.to_excel(엑셀, '.', index=False )
엑셀.save()

In [46]:
df = pd.read_excel('날씨정보2.xlsx')

In [47]:
df

                   일시  최저기온  최고기온     날씨
0    2020-06-25 00:00    21    26  흐리고 비
1    2020-06-25 12:00    21    26  흐리고 비
2    2020-06-26 00:00    21    29  흐리고 비
3    2020-06-26 12:00    21    29   구름많음
4    2020-06-27 00:00    22    29   구름많음
..                ...   ...   ...    ...
528  2020-06-29 00:00    23    26  흐리고 비
529  2020-06-29 12:00    23    26  흐리고 비
530  2020-06-30 00:00    22    26  흐리고 비
531  2020-07-01 00:00    22    26  흐리고 비
532  2020-07-02 00:00    22    27     흐림

[533 rows x 4 columns]