In [2]:
#타랑께 사용량
import pandas as pd
#타랑께 사용량 데이터 불러오기
자전거 = pd.read_csv('(제출)타랑께_최종.csv',index_col = 0)
#출발시각,도착시각 추출
내자전거 = 자전거.loc[:, ['출발시각', '도착시각']]

In [5]:
자전거_출발 = 내자전거['출발시각']
자전거_출발

자전거ID
GJA-0141    20200701082504
GJA-0073    20200701112145
GJA-0169    20200701113432
GJA-0183    20200701114006
GJA-0166    20200701124544
                 ...
GJA-0115    20210205135943
GJA-0050    20210205141152
GJA-0089    20210205141641
GJA-0035    20210205145055
GJA-0063    20210205151252
Name: 출발시각, Length: 10865, dtype: int64

In [6]:
자전거_도착 = 내자전거['도착시각']
자전거_도착

자전거ID
GJA-0141    20200701083128
GJA-0073    20200701122435
GJA-0169    20200701114431
GJA-0183    20200701115905
GJA-0166    20200701125442
                 ...
GJA-0115    20210205140711
GJA-0050    20210205142957
GJA-0089    20210205153052
GJA-0035    20210205184054
GJA-0063    20210205161137
Name: 도착시각, Length: 10865, dtype: int64

In [7]:
자전거_출발 =자전거_출발.astype('str')
자전거_도착 =자전거_도착.astype('str')

In [9]:
from datetime import date,datetime,time
df_list=[]
for i in 자전거_출발 : # 출발시각 Str형식 Date형식 으로 변환
    date = i
    c_date = datetime.strptime(date,"%Y%m%d%H%M%S")
    c_date=c_date.strftime('%Y-%m-%d %H:%M:%S')
    df_list.append(c_date)

In [10]:
df_list_3=[]
for a in 자전거_도착 :#도착시각 Str형식 Date형식 으로 변환
    date_a = a
    c_date = datetime.strptime(date_a,"%Y%m%d%H%M%S")
    c_date=c_date.strftime('%Y-%m-%d %H:%M:%S')
    df_list_3.append(c_date)

In [11]:
df_출발 = pd.DataFrame(df_list)
df_도착 = pd.DataFrame(df_list_3)
자전거_시간 = pd.concat([df_출발,df_도착],axis=1)
자전거_시간.columns = ['출발시각','도착시각']

In [12]:
자전거_시간['출발시각'] = pd.to_datetime(자전거_시간['출발시각'])
자전거_시간['도착시각'] = pd.to_datetime(자전거_시간['도착시각']) #데이트타임형식으로 변경

In [13]:
자전거_시간

                     출발시각                도착시각
0     2020-07-01 08:25:04 2020-07-01 08:31:28
1     2020-07-01 11:21:45 2020-07-01 12:24:35
2     2020-07-01 11:34:32 2020-07-01 11:44:31
3     2020-07-01 11:40:06 2020-07-01 11:59:05
4     2020-07-01 12:45:44 2020-07-01 12:54:42
...                   ...                 ...
10860 2021-02-05 13:59:43 2021-02-05 14:07:11
10861 2021-02-05 14:11:52 2021-02-05 14:29:57
10862 2021-02-05 14:16:41 2021-02-05 15:30:52
10863 2021-02-05 14:50:55 2021-02-05 18:40:54
10864 2021-02-05 15:12:52 2021-02-05 16:11:37

[10865 rows x 2 columns]

In [10]:
자전거_시간= 자전거_시간.transpose()
자전거_시간.loc['사용시간'] = 자전거_시간.loc['도착시각']- 자전거_시간.loc['출발시각'] #사용시간 계산 및 칼럼 생성

In [11]:
자전거_시간 = 자전거_시간.T

In [12]:
자전거_시간

                     출발시각                도착시각            사용시간
0     2020-07-01 08:25:04 2020-07-01 08:31:28 0 days 00:06:24
1     2020-07-01 11:21:45 2020-07-01 12:24:35 0 days 01:02:50
2     2020-07-01 11:34:32 2020-07-01 11:44:31 0 days 00:09:59
3     2020-07-01 11:40:06 2020-07-01 11:59:05 0 days 00:18:59
4     2020-07-01 12:45:44 2020-07-01 12:54:42 0 days 00:08:58
...                   ...                 ...             ...
10860 2021-02-05 13:59:43 2021-02-05 14:07:11 0 days 00:07:28
10861 2021-02-05 14:11:52 2021-02-05 14:29:57 0 days 00:18:05
10862 2021-02-05 14:16:41 2021-02-05 15:30:52 0 days 01:14:11
10863 2021-02-05 14:50:55 2021-02-05 18:40:54 0 days 03:49:59
10864 2021-02-05 15:12:52 2021-02-05 16:11:37 0 days 00:58:45

[10865 rows x 3 columns]