In [ ]:
import pandas as pd

In [ ]:
광산구 = pd.read_csv('광산구_박수정.csv', index_col = 0)

In [ ]:
광산구

In [ ]:
서구 = pd.read_csv('서구_박수정.csv',index_col = 0)

In [ ]:
서구

In [ ]:
서구 = 서구.transpose()

In [ ]:
서구

In [ ]:
서구.to_csv('서구_최종.csv',index=False,encoding = 'utf-8')

In [ ]:
서구.to_csv('서구_최종2.csv',index=True,encoding = 'cp949')

In [ ]:
북구 = pd.read_csv('북구_박수정.csv',index_col=0)
남구 = pd.read_csv('남구_박수정.csv',index_col=0)
동구 = pd.read_csv('동구_박수정.csv',index_col=0)

In [ ]:
북구 = 북구.transpose()

In [ ]:
남구 = 남구.transpose()

In [ ]:
동구 = 동구.transpose()

In [ ]:
북구.to_csv('북구_최종.csv',index=True,encoding = 'cp949')
남구.to_csv('남구_최종.csv',index=True,encoding = 'cp949')
동구.to_csv('동구_최종.csv',index=True,encoding = 'cp949')

In [31]:
광산구 = pd.read_csv('광산구_박수정.csv', index_col = 0)

In [32]:
광산구

,합계,송정동,도산동,신흥동,어령동,우산동,월곡동,비아동,첨단동,신가동,운남동,신창동,수완동,하남동,임공동,동공동,평동,삼도동,본량동
구분,,,,,,,,,,,,,,,,,,,
총 계,"165,914","6,420","6,107","1,600","13,210","10,594","10,728","2,585","51,376","8,044","12,822","15,936","33,753","9,700",405,399,"1,050",447,370
10월 14일,"25,956",713,764,199,"1,919",942,1436,373,"6,700","1,394","1,877","2,708","7,468","1,748",66,32,81,62,43
10세,"5,260",140,151,43,433,178,276,85,1305,267,367,489,"1,596",395,7,11,16,8,10
11세,"5,020",140,132,37,357,221,251,65,1223,298,373,509,"1,481",364,13,2,12,16,4
12세,"5,107",119,140,25,413,179,303,75,1293,259,356,554,"1,496",329,9,5,20,10,12
13세,"5,582",154,183,46,367,188,321,71,1483,298,417,636,"1,556",353,18,11,16,19,7
14세,"4,987",160,158,48,349,176,285,77,1396,272,364,520,"1,339",307,19,3,17,9,10
15-19,"26,550",877,897,231,"1,743","1,149",1786,397,"8,274","1,525","2,106","2,835","6,194","1,414",56,51,73,52,47
15세,"4,855",146,149,35,355,184,315,64,1387,255,357,540,"1,275",281,9,6,13,8,7
16세,"5,128",160,164,52,326,222,324,84,1600,302,415,550,"1,205",298,14,6,7,10,11
17세,"5,457",154,187,50,364,237,410,69,1613,329,439,590,"1,273",269,11,12,21,17,14
18세,"5,262",184,191,43,322,221,368,87,1712,295,431,552,"1,191",255,15,12,12,6,7
19세,"5,848",233,206,51,376,285,369,93,1962,344,464,603,"1,250",311,7,15,20,11,8
20-24,"31,100",1377,"1,150",319,"2,082","1,949",2311,467,"10,820","1,544","2,629","2,986","5,543","1,515",68,77,183,81,69
20세,"6,625",235,262,61,443,363,500,104,2209,351,578,680,"1,301",314,12,12,26,12,9
21세,"6,231",281,221,61,423,378,446,93,2154,309,538,605,"1,121",297,12,15,40,16,16
22세,"6,134",269,230,57,395,388,472,93,2090,312,522,582,"1,092",334,12,10,37,17,13
23세,"6,152",296,225,63,418,400,454,94,2180,287,508,586,"1,063",298,14,19,36,12,14
24세,"5,958",296,212,77,403,420,439,83,2187,285,483,533,966,272,18,21,44,24,17
25-29,"27,606",1350,"1,081",304,"1,950","2,289",2118,434,"10,318","1,165","2,150","2,318","3,957","1,454",95,98,255,92,85
25세,"5,798",284,234,70,365,435,441,93,2220,275,465,483,885,289,15,15,47,15,24
26세,"5,527",271,222,54,371,422,449,77,1981,224,440,513,819,305,26,16,50,16,15
27세,"5,533",262,200,53,412,449,464,86,2118,228,432,427,789,278,16,22,48,23,21
28세,"5,519",269,227,57,404,497,418,75,2079,234,397,463,756,301,20,26,50,21,11
29세,"5,229",264,198,70,398,486,346,103,1920,204,416,432,708,281,18,19,60,17,14
30-34,"23,157",1014,"1,022",246,"2,203","2,102",1409,373,"7,299",938,"1,693","2,098","3,714","1,344",66,71,226,68,59
30세,"4,741",227,200,45,398,430,325,93,1638,167,366,396,726,238,21,14,47,12,12
31세,"4,385",204,190,49,417,420,268,66,1526,171,305,359,652,243,12,12,44,16,15
32세,"4,490",173,196,54,429,438,263,81,1357,190,321,440,697,265,16,20,43,13,11
33세,"4,691",202,236,41,485,405,283,65,1352,185,346,439,782,290,9,13,43,15,8
34세,"4,850",208,200,57,474,409,270,68,1426,225,355,464,857,308,8,12,49,12,13
35-39,"31,545",1089,"1,193",301,"3,313","2,163",1668,541,"7,965","1,478","2,367","2,991","6,877","2,225",54,70,232,92,67
35세,"5,172",185,217,59,528,438,294,89,1373,182,415,526,974,333,8,12,37,16,19
36세,"5,448",179,200,42,593,368,311,118,1477,267,409,497,"1,114",359,8,16,44,13,12
37세,"6,351",241,248,64,670,437,309,121,1484,326,439,626,"1,421",436,11,14,57,14,12
38세,"7,267",248,262,68,792,486,393,100,1783,362,575,659,"1,644",490,12,17,51,23,16
39세,"7,307",236,266,68,730,434,361,113,1848,341,529,683,"1,724",607,15,11,43,26,8

In [33]:
광산구.transpose()

구분,총 계,10월 14일,10세,11세,12세,13세,14세,15-19,15세,16세,...,31세,32세,33세,34세,35-39,35세,36세,37세,38세,39세
합계,"165,914","25,956","5,260","5,020","5,107","5,582","4,987","26,550","4,855","5,128",...,"4,385","4,490","4,691","4,850","31,545","5,172","5,448","6,351","7,267","7,307"
송정동,"6,420",713,140,140,119,154,160,877,146,160,...,204,173,202,208,1089,185,179,241,248,236
도산동,"6,107",764,151,132,140,183,158,897,149,164,...,190,196,236,200,"1,193",217,200,248,262,266
신흥동,"1,600",199,43,37,25,46,48,231,35,52,...,49,54,41,57,301,59,42,64,68,68
어령동,"13,210","1,919",433,357,413,367,349,"1,743",355,326,...,417,429,485,474,"3,313",528,593,670,792,730
우산동,"10,594",942,178,221,179,188,176,"1,149",184,222,...,420,438,405,409,"2,163",438,368,437,486,434
월곡동,"10,728",1436,276,251,303,321,285,1786,315,324,...,268,263,283,270,1668,294,311,309,393,361
비아동,"2,585",373,85,65,75,71,77,397,64,84,...,66,81,65,68,541,89,118,121,100,113
첨단동,"51,376","6,700",1305,1223,1293,1483,1396,"8,274",1387,1600,...,1526,1357,1352,1426,"7,965",1373,1477,1484,1783,1848
신가동,"8,044","1,394",267,298,259,298,272,"1,525",255,302,...,171,190,185,225,"1,478",182,267,326,362,341
운남동,"12,822","1,877",367,373,356,417,364,"2,106",357,415,...,305,321,346,355,"2,367",415,409,439,575,529
신창동,"15,936","2,708",489,509,554,636,520,"2,835",540,550,...,359,440,439,464,"2,991",526,497,626,659,683
수완동,"33,753","7,468","1,596","1,481","1,496","1,556","1,339","6,194","1,275","1,205",...,652,697,782,857,"6,877",974,"1,114","1,421","1,644","1,724"
하남동,"9,700","1,748",395,364,329,353,307,"1,414",281,298,...,243,265,290,308,"2,225",333,359,436,490,607
임공동,405,66,7,13,9,18,19,56,9,14,...,12,16,9,8,54,8,8,11,12,15
동공동,399,32,11,2,5,11,3,51,6,6,...,12,20,13,12,70,12,16,14,17,11
평동,"1,050",81,16,12,20,16,17,73,13,7,...,44,43,43,49,232,37,44,57,51,43
삼도동,447,62,8,16,10,19,9,52,8,10,...,16,13,15,12,92,16,13,14,23,26
본량동,370,43,10,4,12,7,10,47,7,11,...,15,11,8,13,67,19,12,12,16,8

In [34]:
광산구.to_csv('광산구_최종.csv',index=True,encoding = 'cp949')