In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import json
import urllib.request
from urllib.parse import urlencode, quote_plus, unquote
import requests

In [2]:
#top 키워드 분석

url_top = 'http://apis.data.go.kr/1140100/minAnalsInfoView2/minTopNKeyword2'
MyApiKey_top = unquote('d%2B9KOMPJFLpGdPTXrXRob9bSfOWl98bd5iJbQIaltervWD7B0RiBrOXnFbZtaedq6Y8rPVwucZPx98JoliinUA%3D%3D')


queryParams_top = '?' + urlencode({
    quote_plus('ServiceKey') : MyApiKey_top,
    quote_plus('target') : 'pttn,dfpt,saeol',
    quote_plus('searchword') : '',
    quote_plus('depCode') : '',
    quote_plus('depCodePath') : '',
    quote_plus('dateFrom') : '20200101',
    quote_plus('dateTo') : '20201231',
    quote_plus('resultCount') : '10',
    quote_plus('searchCount') : '100',
    quote_plus('dataType') : 'xml'
})

req_top = requests.get(url_top + queryParams_top)
xmlobj_top = BeautifulSoup(req_top.text, 'lxml-xml')
rows_top = xmlobj_top.findAll('item')

columns_top = rows_top[0].find_all()

rowList_top = []
nameList_top = []
columnList_top = []

rowsLen_top = len(rows_top)
for i in range(0, rowsLen_top):
    columns_top = rows_top[i].find_all()

    columnsLen_top = len(columns_top)
    for j in range(0, columnsLen_top):
        if i == 0:
            nameList_top.append(columns_top[j].name)
        eachColumn_top = columns_top[j].text
        columnList_top.append(eachColumn_top)
    rowList_top.append(columnList_top)
    columnList_top = []

result_top = pd.DataFrame(rowList_top, columns=nameList_top)

In [3]:
result_top.head()

  label  value
0  수정구청  930.0
1  분당구청  868.0
2    분당  810.0
3   휴대폰  792.0
4    성남  528.0

In [9]:
result_top.to_excel("result_top.xlsx")

In [ ]:
"""
url = 'http://apis.data.go.kr/1140100/minAnalsInfoView2/minTopNKeyword2'
MyApiKey = unquote('d%2B9KOMPJFLpGdPTXrXRob9bSfOWl98bd5iJbQIaltervWD7B0RiBrOXnFbZtaedq6Y8rPVwucZPx98JoliinUA%3D%3D')

queryParams = '?' + urlencode({
    quote_plus('ServiceKey') : MyApiKey, 
    quote_plus('resultCount') : '100',
    quote_plus('searchCount') : '1000', 
    quote_plus('target') : 'pttn,dfpt,saeol',
    quote_plus('searchword') : '',
    quote_plus('depCode') : '6290000',
    quote_plus('dateFrom') : '20200101',
    quote_plus('dateTo') : '20201231',
    quote_plus('dataType') : 'xml',
    quote_plus('depCodePath') : '0000000/6480000/6290000'
})

req = requests.get(url + queryParams)
xmlobj = BeautifulSoup(req.text, 'lxml-xml')
rows = xmlobj.findAll('item')

columns = rows[0].find_all()

rowList = []
nameList = []
columnList = []

rowsLen = len(rows)
for i in range(0, rowsLen):
    columns = rows[i].find_all()

    columnsLen = len(columns)
    for j in range(0, columnsLen):
        if i == 0:
            nameList.append(columns[j].name)
        eachColumn = columns[j].text
        columnList.append(eachColumn)
    rowList.append(columnList)
    columnList = []

result = pd.DataFrame(rowList, columns=nameList)
"""

이거 쓰시면 됩니다

In [94]:
#유사 사례 정보

url_sim = 'http://apis.data.go.kr/1140100/minAnalsInfoView2/minSimilarInfo2'
MyApiKey_sim = unquote('d%2B9KOMPJFLpGdPTXrXRob9bSfOWl98bd5iJbQIaltervWD7B0RiBrOXnFbZtaedq6Y8rPVwucZPx98JoliinUA%3D%3D')

searchword_sim = input('검색 키워드를 입력하세요 : ')

queryParams_sim = '?' + urlencode({
    quote_plus('ServiceKey') : MyApiKey_sim,
    quote_plus('startPos') : '1',
    quote_plus('retCount') : '300', 
    quote_plus('target') : 'qna,qna_origin', #정책 Q&A , 민원 게시글 의미
    quote_plus('searchword') : searchword_sim, #keyword 검색 설정
    quote_plus('mainSubCd') : '',         #기관코드
    quote_plus('mainSubCdPath') : '',     #기관코드
    quote_plus('mngDepCode') : '',        #기관-부서코드
    quote_plus('mngDepCodePath') : '',    #기관-부서코드
    quote_plus('dateFrom') : '20200101',          #날짜 설정 (시작일)
    quote_plus('dateTo') : '20210731',            #날짜 설정 (종료일)
    quote_plus('mainscore') : '2',
    quote_plus('dataType') : 'xml'        #데이터 타입 xml, json 있어요.
})

req_sim = requests.get(url_sim + queryParams_sim)
xmlobj_sim = BeautifulSoup(req_sim.text, 'lxml-xml')
rows_sim = xmlobj_sim.findAll('item')


rowList_sim = []
nameList_sim = []
columnList_sim = []

rowsLen_sim = len(rows_sim)
for i in range(0, rowsLen_sim):
    columns_sim = rows_sim[i].find_all()

    columnsLen_sim = len(columns_sim)
    for j in range(0, columnsLen_sim):
        if i == 0:
            nameList_sim.append(columns_sim[j].name)
        eachColumn_sim = columns_sim[j].text
        columnList_sim.append(eachColumn_sim)
    rowList_sim.append(columnList_sim)
    columnList_sim = []

result_sim = pd.DataFrame(rowList_sim, columns=nameList_sim)

검색 키워드를 입력하세요 :  어르신

In [95]:
result_sim

Empty DataFrame
Columns: []
Index: []

In [89]:
filename = 'searchword_'+searchword_sim+'.csv'

result_sim.to_csv(filename, encoding = 'utf-8-sig')

In [113]:
#급증 키워드 정보

url_sud = 'http://apis.data.go.kr/1140100/minAnalsInfoView2/minTopNKeyword2'
MyApiKey_sud = unquote('d%2B9KOMPJFLpGdPTXrXRob9bSfOWl98bd5iJbQIaltervWD7B0RiBrOXnFbZtaedq6Y8rPVwucZPx98JoliinUA%3D%3D')

queryParams_sud = '?' + urlencode({
    quote_plus('ServiceKey') : MyApiKey_sud, 
    quote_plus('scoreMode') : 'risingSudden',
    quote_plus('analysisTime') : '20201105',
    quote_plus('maxResult') : '100',
    quote_plus('target') : 'pttn,dfpt,saeol,twitter',
    quote_plus('mainSubCode') : '',
    quote_plus('brtcNameAKeyword') : '',
    quote_plus('classificationMulti') : '',
    quote_plus('age') : '',
    quote_plus('dataType') : 'xml'
})

req_sud = requests.get(url_sud + queryParams_sud)
xmlobj_sud = BeautifulSoup(req_sud.text, 'lxml-xml')
rows_sud = xmlobj_sud.findAll('item')

rowList_sud = []
nameList_sud = []
columnList_sud = []

rowsLen_sud = len(rows_sud)
for i in range(0, rowsLen_sud):
    columns_sud = rows_sud[i].find_all()

    columnsLen_sud = len(columns_sud)
    for j in range(0, columnsLen_sud):
        if i == 0:
            nameList_sud.append(columns_sud[j].name)
        eachColumn_sud = columns_sud[j].text
        columnList_sud.append(eachColumn_sud)
    rowList_sud.append(columnList_sud)
    columnList_sud = []

result_sud = pd.DataFrame(rowList_sud, columns=nameList_sud)

In [114]:
xmlobj_sud

<?xml version="1.0" encoding="utf-8"?>
<response>
<header>
<resultCode>200</resultCode>
<resultMsg>NORMAL SERVICE</resultMsg>
</header>
<body>
<items>
<item>
<label>휴대폰</label>
<value>1504.0</value>
</item>
<item>
<label>분당구청</label>
<value>996.0</value>
</item>
</items>
</body>
</response>

In [109]:
queryParams_sud

'?ServiceKey=d%2B9KOMPJFLpGdPTXrXRob9bSfOWl98bd5iJbQIaltervWD7B0RiBrOXnFbZtaedq6Y8rPVwucZPx98JoliinUA%3D%3D&scoreMode=rising&analysisTime=20201105&maxResult=100&target=pttn%2Cdfpt%2Csaeol%2Ctwitter&mainSubCode=&brtcNameAKeyword=&classificationMulti=&age=&dataType=xml'

In [110]:
result_sud

  label   value
0   휴대폰  1504.0
1  분당구청   996.0

In [95]:
result_sud.to_excel('result_sud.xlsx')